extends: relaxed
rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1
  indentation:
    spaces: 2
    indent-sequences: false
    check-multi-line-strings: false
  trailing-spaces: enable
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
ignore: |
  platform/istio/templates/virtualservice-template.yaml
  istio-1.21.0
  **/Taskfile.yml
  infrastructure/vagrant/
