# Kustomization for Kyverno Policies
# Excludes non-Kubernetes resource files
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - policies/certificate-protection-policy.yaml
  - policies/clusterpolicy-cleanup.yaml
  # clusterpolicy.yaml excluded - contains duplicate cleanup-deprecated-v1-endpoints resource
  # Use clusterpolicy-cleanup.yaml instead which has the correct ClusterCleanupPolicy v2
  - policies/istio-label-policy.yaml
  - policies/gateway-service-clusterip-policy.yaml
  - rbac/cleanup-controller-role.yaml
  - gateway-kyverno.yaml

# Exclude Helm values and README files
# Note: helm-values.yaml and README.md are not Kubernetes resources
