apiVersion: gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: grafana-gateway
  namespace: observability
spec:
  gatewayClassName: istio
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: grafana.maelkloud.com
      tls:
        mode: Terminate
        certificateRefs:
          - name: grafana-cert
            kind: Secret
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: grafana-route
  namespace: observability
spec:
  parentRefs:
    - name: grafana-gateway
  hostnames:
    - grafana.maelkloud.com
  rules:
    - backendRefs:
        - name: grafana
          port: 80
