# Helm values for standalone Grafana
persistence:
  enabled: true
  storageClassName: local-path
  size: 2Gi

adminPassword: admin

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.observability.svc.cluster.local:80
        access: proxy
        isDefault: true
        uid: prometheus
      - name: Loki
        type: loki
        url: http://loki.observability.svc.cluster.local:3100
        access: proxy
        uid: loki
      - name: Tempo
        type: tempo
        url: http://tempo.observability.svc.cluster.local:3100
        access: proxy
        uid: tempo
        jsonData:
          tracesToLogs:
            datasourceUid: loki
            filterByTraceID: true
            filterBySpanID: false
            tags:
              - key: service.name
                value: service_name
          tracesToMetrics:
            datasourceUid: prometheus
          serviceMap:
            datasourceUid: prometheus
          nodeGraph:
            enabled: true
          search:
            hide: false
          lokiSearch:
            datasourceUid: loki
