apiVersion: gateway.networking.k8s.io/v1beta1
kind: Gateway
metadata:
  name: prometheus-gateway
  namespace: observability
spec:
  gatewayClassName: istio
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: prometheus.maelkloud.com
      tls:
        mode: Terminate
        certificateRefs:
          - name: prometheus-cert
            kind: Secret
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: prometheus-route
  namespace: observability
spec:
  parentRefs:
    - name: prometheus-gateway
  hostnames:
    - prometheus.maelkloud.com
  rules:
    - backendRefs:
        - name: prometheus-server
          port: 80
