apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

helmCharts:
  - name: tempo
    repo: https://grafana.github.io/helm-charts
    version: 1.12.3
    releaseName: tempo
    valuesFile: values.yaml
